/node_modules
/public/hot
/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/debugbar/*
public/storage
/vendor
/composer.json
/composer.lock
/.idea
/.vscode
/nbproject
/.vagrant
.env
.env.*
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.json
/composer.lock

/storage/framework/*
!/storage/framework/.gitignore

/storage/logs/*
!/storage/logs/.gitignore

*.sql
*.zip
*.rar
*.7z

/public/uploads/*